* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}

/* ======COMMON======= */
:root {
    --main-color: #5f5b53;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: #000;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 118px;
    height: 50px; 
    background: #171100;
    border-radius: 999px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #FFFFFF;
}

/* ======HEADER====== */
main {
    height: 5000px;
}

.header {
    background: #fffcf4;
    padding-top: 26px;
    position: sticky;
    top: -26px;
    z-index: 1;
    
}

.header .body-header {
    display: flex;
    align-items: center;
}

.header .body-header {
    padding: 5px 0;
}

.header nav {
    margin-left: auto;
}

.header nav ul {
    display: flex;
}

.header nav a {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: var(--main-color);
    padding: 8px 21px;
}

nav li.active {
    position: relative;
}

nav li.active a {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #171100;
}

nav li.active a::after {
    position: absolute;
    bottom: 0;
    left: 21px;
    content: "";
    display: inline-block;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}

.header nav a:hover {
    text-shadow: 1px 0 0 #171100;
}

.header .action .btn {
    min-width: 144px;
    margin-left: 70px;
}

/* ======HERO====== */

