* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 62.5%;
    font-family: "Poppins", "sans-serif";
}

/* ======COMMON======= */
:root {
    --main-color: #5f5b53;
    --heading-font: "Sen", "sans-serif";
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: #000;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 118px;
    height: 50px;
    background: #171100;
    border-radius: 999px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #ffffff;
}

/* ======HEADER====== */
main {
    height: 5000px;
}

.header {
    background: #fffcf4;
    padding-top: 26px;
    position: sticky;
    top: -26px;
    z-index: 1;
}

.header .body-header {
    display: flex;
    align-items: center;
}

.header .body-header {
    padding: 5px 0;
}

.header nav {
    margin-left: auto;
}

.header nav ul {
    display: flex;
}

.header nav a {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: var(--main-color);
    padding: 8px 21px;
}

nav li.active {
    position: relative;
}

nav li.active a {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #171100;
}

nav li.active a::after {
    position: absolute;
    bottom: 0;
    left: 21px;
    content: "";
    display: inline-block;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}

.header nav a:hover {
    text-shadow: 1px 0 0 #171100;
}

.header .action .btn {
    min-width: 144px;
    margin-left: 70px;
}

/* ======HERO====== */
.hero {
    background: #fffcf4;
    padding-top: 64px;
    padding-bottom: 65px;
}

.hero .body-hero {
    display: flex;
    justify-content: space-between;
}

.hero .media-block {
    position: relative;
}

.hero .media-block > img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}

/* ======HERO-SUMARY====== */
.hero .hero-sumary {
    width: 270px;
    background: #ffffff;
    position: absolute;
    bottom: 48px;
    right: -100px;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.hero-sumary {
    padding: 28px 24px;
}

.hero-sumary .evaluate {
    display: flex;
}

.hero-sumary .evaluate + .evaluate {
    padding-top: 22px;
}

.hero-sumary .evaluate .icon {
    height: 48px;
    width: 48px;
    margin-right: 16px;
    background: #fff9e8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-sumary .evaluate + .evaluate .icon {
    background: #fcefff;
}

.hero-sumary .evaluate + .evaluate + .evaluate .icon {
    background: #ebeaff;
}

.hero-sumary .info .quantity {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.85;
    color: #5f5b53;
}

.hero-sumary .info .n-courses {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.6667;
    color: #171100;
}

.hero .content-block {
    width: 470px;
    padding-top: 64px;
}

.hero .content-block h2 {
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -0.02em;
    margin-bottom: 32px;
    color: #171100;
}
.hero .content-block .desc {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.6667;
    color: var(--main-color);
}

.hero .cta-group {
    display: flex;
    text-align: center;
    margin-top: 38px;
    margin-bottom: 48px;
}

.hero .cta-group .btn {
    min-width: 180px;
    background: #ffb900;
    margin-right: 28px;
}

.hero .cta-group .watch-video {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
}

.hero .watch-video .watch-icon {
    height: 40px;
    width: 40px;
    margin-right: 14px;
    border-radius: 50%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .watch-video span {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.6667;
    color: #171100;
}

.hero .overall {
    display: flex;
    text-align: center;
    margin-top: 8px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--main-color);
}

.hero .overall p:first-child {
    margin-right: 28px;
}

.hero .overall strong {
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.22;
    color: #171100;
    margin-right: 5px;
}

/* ======POPULAR====== */
.popular {
    margin-top: 200px;
}

.popular .heading {
    position: relative;
}

.popular .heading h2 {
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.3;
    letter-spacing: -0.02em;
    color: #171100;
}

.popular .heading .desc {
    font-weight: 400;
    font-size: 1.8rem;
    width: 458px;
    line-height: 1.67;
    color: var(--main-color);
    margin-top: 16px;
}

.popular .direction-icon {
    position: absolute;
    right: 0;
    top: 42px;
    display: flex;
    align-items: center;
}

.popular .direction-icon .item-icon {
    border: 1px solid #FFB900;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popular .direction-icon .item-icon:hover {
    background: #ffb900;
}


.popular .direction-icon img {
    padding: 14px 17px;
}

.popular .direction-icon img:hover {
    opacity: 0;
}

.popular .direction-icon a:last-child {
    transform: matrix(-1, 0, 0, 1, 0, 0);
    margin-left: 18px;
}


